.tech-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}
.link {
  text-decoration: none;
}
.logo-style {
  width: 100px;
}
.name {
  color: #475569;
  margin-left: 10px;
  text-decoration: none;
}
